@import url("https://fonts.googleapis.com/css2?family=Belleza&display=swap");

/* Variables */
:root {
  --color-primary: #f0b600;
  --color-secondary: #760505;
}

/* Styles generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Belleza;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  min-width: 400px;
  background-color: var(--color-background);
}

/* Styles header */

header {
  background-color: var(--color-primary);
  color: var(--color-text);
  max-width: 1440px;
  min-width: 400px;
  width: 100%;
}

header .top-bar {
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10%;
}



header .container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 46px;
  color: var(--color-secondary);
}

header .container-header a {
  color: var(--color-secondary);
}

header .container-header span {
  color: black;
}



header .container-header .div-menu .menu {
  position: relative;
}

header .container-header .div-menu .menu ul {
  display: flex;
}

header .container-header .div-menu .menu ul li {
  padding: 15px 20px;
}

header .container-header .div-menu .menu ul li:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
}

ul > li {
  font-size: 20px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Styles del main */
main .title {
  background-image: url("../img/fondo-main.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}

main .title div {
  height: 440px;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0px 25px;
}

main .title div h2 {
  padding: 8px 25px;
  text-align: center;
  align-items: center;
  color: var(--color-primary);
  font-weight: 400;
  font-size: 5rem;
}

main .title div h3 {
  color: whitesmoke;
  padding: 10px;
}

main .title div a {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 15px 30px;
  position: relative;
  right: 20px;
  border-radius: 7px;
  transition: linear 0.5s;
}

#services {
  color: whitesmoke;
  background-color: var(--color-secondary);
}

/* Styles del form */

main .contact-form {
  padding-top: 60px;
  background-color: var(--color-primary);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: ;
}

main .contact-form .contact h2 {
  font-size: 2rem;
  color: var(--color-secondary);
}

main .contact-form .contact input {
  background-color: var(--color-secondary);
  width: 298px;
  height: 40px;
  color: whitesmoke;
  border-radius: 15px;
  border-style: none;
}

main .contact-form .contact div {
  display: flex;
  gap: 10px;
  padding: 30px;
}

main .contact-form .contact div input {
  width: 130px;
}

main .contact-form .contact div input[type="submit"] {
  background-color: #104c0f;
  transition: linear 0.5s;
}

main .contact-form .contact div input[type="reset"] {
  background-color: #104c0f;
  transition: linear 0.5s;
}

/* Style del botón */
.button-style,
main .title div a:hover,
main .contact-form .contact div input[type="submit"]:hover,
main .contact-form .contact div input[type="reset"]:hover {
  background-color: var(--color-primar);
  color: var(--color-secondary);
  border-color: var(--color-secondary);
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
}

/* Style  del footer */
footer {
  background-color: var(--color-secondary);
  color: white;
  padding: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.footer-item > div > h4 {

  font-size: 1rem;
}


.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}

.footer-info {
  display: flex;
  gap: 6rem;
  justify-content: center;
  align-items: center;

}

.footer-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-icon {
  background-color: var(--color-primary);
  font-size: 2rem;
  min-width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: solid 2px;
  color: whitesmoke;
}



.footer-copy {
  text-align: center;
  margin-top: 2rem;
}

.h2-final {
  background-color: #222222;
  color: whitesmoke;
  font-size: 1rem;
  text-align: center;
  
}


/* Media query tablet */
@media screen and (max-width: 768px) {
  body {
    max-width: 768px;
  }

  header .top-bar {
    display: none;
  }

  header .container-header .div-menu label {
    display: block;
  }
  header .container-header .div-menu .menu {
    position: absolute;
    top: -70%;
    right: 0;
    transition: all 0.5s;
  }

  header .container-header .div-menu .menu ul {
    background-color: var(--color-primary);
    flex-direction: column;
  }

  header .container-header .div-menu .menu ul li {
    border: solid 1px var(--color-secondary);
  }

main .title div h2 {
  font-size: 3rem;
}
footer {
  flex-direction: column; /* Cambia a columna para tablet */
  text-align: center; /* Alinea el contenido al centro en tablet */
}
.footer-info {
  flex-direction: column; 
  gap: 2rem; /* Ajusta el espacio entre elementos en tablet */
}
.footer-logo {
  margin-top: 20px; 
}
}

/* Media query mobile */
@media screen and (max-width: 480px) {
  main .title {
    background-image: url("../img/fondo-main2.jpg");
  }

  main .contact-form .subscribe div {
    display: flex;
  }

  footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  footer div .logo-footer {
    margin-top: 20px;
  }

  footer div div {
    margin-top: 20px;
  }

  #grid-magos{
    flex-direction: column;
  }



}


#grid-magos {
  
display: flex;
flex-wrap: wrap;
gap: 3rem;
align-items: center;
justify-content: center;
padding: 3rem;
background-image:url(../img/fondo-main3.jpg                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ) ;

}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: #222222 2px solid;
  width: 100%; 
  max-width: 400px; 
  margin: 1rem; 
  padding: 1rem;
  text-align: center; 
  background-color: #760505; 
  color: whitesmoke;
  border-radius: 10px; 
 
}

.card:hover {
  background-color: #104c0f;
  transition: linear 0.5s;
  cursor: pointer;

}

.img-mago {
  width: 100%; 
  max-width: 300px; 
  height: auto; 
  border-radius: 50%; 
}

.carrito {
  width: 50px; 
  cursor: pointer;
  border-radius: 50%;

}

#magos {
  background-color: var(--color-primary);
  padding: 2rem;
  text-align: center;
  font-size: 2.5rem;
  color: #760505;
}

.page-section {
 padding: 2rem;
}
