@import url("https://fonts.googleapis.com/css2?family=Belleza&display=swap");

/* Variables */

:root {
  --color-primary: #f0b600;
  --color-secondary: #760505;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-secondary);
}

/* Style para la tarjeta del mago */

.mago-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/fondo-datail.jpg);
  background-repeat: cover;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px;
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  font-family: Belleza;
  height: 700px;
}

.mago-details h1 {
  text-decoration: overline;
  margin-top: 1rem;
}

.mago-desc {
  line-height: 1.4;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.mago-details img {
  border-radius: 1.5rem;
  width: 330px;
}

button {
  border-radius: 1rem;
  width: 400px;
  height: 75px;
  font-weight: 1000;
  font-family: Belleza;
  font-size: 1rem;
  background-color: #c7960a;
  color: var(--color-secondary);
  transition: clip-path 0.3s;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

button:hover {
  background-color: var(--color-primary);
  transition: 1s linear;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 1rem;
}

.mago-details button a {
  text-decoration: none;
  color: whitesmoke;
  font-family: Belleza;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: var(--color-secondary);
}

/* Media query para tablet */

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .mago-desc {
    text-align: center;
    line-height: 2.25;
  }

  .mago-details {
    font-size: 1.25rem;
    padding: 10px;
    height: 1400px;
  }

  .mago-details button {
    width: 200px;
    height: 50px;
  }

  .mago-details img {
    margin-top: 1rem;
    width: 230px;
  }
}

/* Media query mobile */

@media (max-width: 480px) {
  .mago-details {
    font-size: 1.2rem;
    padding: 5px;
    height: 1250px;
  }

  button {
    width: 200px;
    height: 80px;
    font-size: 1rem;
  }

  .buttons {
    flex-direction: column;
  }

  .mago-details img {
    width: 180px;
  }
}
